<h3>Detect use rekognition</h3>
<form action="/submit" method="post" enctype="multipart/form-data">
    <label for="photo">Photo</label>
    <input id="photo" name="photo" type="file" capture="user" accept="image/*"/>
    <br>
    <label for="shop">Shop</label>
    <input id="shop" name="shop" type="text"/>
    <br>
    <label for="receipt_number">Receipt Number</label>
    <input id="receipt_number" name="receipt_number" type="text"/>
    <br>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="text"/>
    <br>
    <input type="submit">
</form>

<h3>Detect use textract</h3>
<form action="/submit2" method="post" enctype="multipart/form-data">
    <label for="photo">Photo</label>
    <input id="photo" name="photo" type="file" capture="user" accept="image/*"/>
    <br>
    <label for="shop">Shop</label>
    <input id="shop" name="shop" type="text"/>
    <br>
    <label for="receipt_number">Receipt Number</label>
    <input id="receipt_number" name="receipt_number" type="text"/>
    <br>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="text"/>
    <br>
    <input type="submit">
</form>