<form action="/submit" method="post" enctype="multipart/form-data">
    <label for="photo">Picture</label>
    <input id="photo" name="photo" type="file" capture="user" accept="image/*"/>
    <input type="submit">
</form>